body
{
  background-color: #eee;
}

#options
{
  width: 100%;
  text-align: right;
}

#postform
{
  position: relative;

  text-align: center;
}

#postform #statustext
{
  font-size: 150%;
  width: 99%;

  height: 3em;
  left: 1em; right: 1em;
}

#postform input[type="submit"]
{
  width: 99%;
  
  font-size: 100%;

  background-color:#808080;color:#FFF;
  font-weight:bold;border: 1px solid black;cursor:pointer;
}

#postform span
{
  font-size: 80%;
  font-weight: bold;

  text-align: left;
}

#statuses_container {
  border-top: 0.1em solid black;
  border-bottom: 0.1em solid black;
  
  background-color: #eee;
}

#statuses_container .status {
  position: relative;
  clear: left;

  border-bottom: 0.1px solid #ccc;
  padding: 0.2em;
}

#statuses_container .a {
  background-color: #eef;
}

#statuses_container .a .highscore {
  background-color: #ddf;
}

#statuses_container .b {
  background-color: #fee;
}

#statuses_container .b .highscore {
  background-color: #fdd;
}

#statuses_container .onhover {
  background-color: #ff9;
}

#statuses_container img.userimg {
  float: left;
  
  border: 0.1em solid #999;

  margin: 0.2em;
}

#statuses_container .lowscore img.userimg {
  height: 16px;
  width: 16px;
}

#statuses_container .onhover img.userimg {
  height: 48px;
  width: 48px;
}

#statuses_container .highscore img.userimg {
  height: 64px;
  width: 64px;
}

#statuses_container div.msgpart {
  font-size: 80%;
}

#statuses_container .lowscore div.msgpart {
  font-size: 60%;
}

#statuses_container .onhover div.msgpart {
  font-size: 80%;
}

#statuses_container .highscore div.msgpart {
  font-size: 100%;
  font-weight: bold; 

  margin: 0.5em;
}

#statuses_container .veryhighscore div.msgpart {
  font-size: 150%;
  font-weight: bold; 

  margin: 0.5em;
  color: #336;
}

#statuses_container div.footer {
  margin-top: 0.2em;

  font-size: 80%;
  color: #333; 
}

#statuses_container div.footer span {
  margin: 0 0.1em;
  padding: 0.1em 0.1em;
}

#statuses_container div.footer span.created_at {
  position: absolute;

	bottom: 0.5ex;
	right: 5px;
	
	color: gray;
}

#statuses_container div.footer span.score {
  background-color: #fff;

  border: 0.1em solid #999;
}

#statuses_container div.clear {
  clear: left;
}
